@use "./base.scss";

// put your custom CSS here!

.folder-outer{
   li {

      margin: 0 !important;
      padding: 10px 0;

      border-bottom: 1px solid rgba(0, 0, 0, 0.45);
      width: 90%;

  }
  li:last-child {
    border-bottom: none;
  }
}
